@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

body{

    font-family: 'Cairo', sans-serif;
    background: #f2f2f2;
}



table thead{

    background: #3F7CA9;
    color: #fff;
    text-align: center;


}
table tbody{
    text-align: center;

}

.four table thead tr th,.four table tbody tr td{
    padding: 15px;
}


@media only screen and (max-width: 1000px) {
    .container-fluid .one{
        display: none;
    }
    .container-fluid .two{
        margin-right: 0;
        width: 100%;
    }

}
