@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

body{

    font-family: 'Cairo', sans-serif;
    background: #f2f2f2;
}
.container-fluid{
    height: 500px;
    direction: rtl;
}
.container-fluid .one{
    background: #3F7CA9;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;

}
::-webkit-scrollbar {
    width: 3px;
    background: #f2f2f2;
    border-radius: 25px;
}

.container-fluid .two{
    padding-right: 0;
    padding-left: 0;
    margin-right: 16.7%;
}

.container-fluid .two .three{
    background: #3F7CA9;
    overflow: hidden;
    color: #fff;
    padding: 6px;

}
.container-fluid .two .three .ca{

    float: right;
}
.container-fluid .two .three .ca .fa-bars{

    color: #fff;
    padding: 15px;
    font-size: 22px;

}

.container-fluid .two .three .cat{

    float: left;
}
.container-fluid .two .three .cat .rol{

    padding: 15px;

}

.container-fluid .two .three .cat .rol i{

    font-size: 20px;
    padding-left: 20px;

}


.container-fluid .two .four{
    background: #fff;
    height: auto;
    margin-top: 80px;
    padding: 15px;

}
.five{
    margin-top: 50px;


}
.five ul{
    list-style-type: none;
    line-height: 60px;

}

.five ul li a{
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;

}
.five ul li:hover
{

    background: #fff;
    border-radius: 4px;
    color: #487eb0;
    transition: 1s;

}

.five ul li a:hover
{

    color: #487eb0;

}


table thead{

    background: #3F7CA9;
    color: #fff;
    text-align: center;


}
table tbody{
    text-align: center;

}

.four table thead tr th,.four table tbody tr td{
    padding: 15px;
}


@media only screen and (max-width: 1000px) {
    .container-fluid .one{
        display: none;
    }
    .container-fluid .two{
        margin-right: 0;
        width: 100%;
    }

}
